section.main {
  background: #1b1d21;
  padding-top: calc(var(--section-gap) + var(--header));
  padding-bottom: var(--gap);
  min-height: 100vh;
  z-index: 1;
}
section.main div.container {
  display: grid;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
  grid-gap: var(--section-gap);
}
section.main div.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
section.main div.preview::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 16, 18, 0.5);
  z-index: 1;
}
section.main div.preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section.main div.intro {
  position: relative;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: var(--big-gap);
  height: 100%;
  z-index: 2;
  color: #fff;
}
section.main div.intro div.text {
  display: grid;
  grid-gap: var(--medium-gap);
}
section.main div.intro div.text h1, section.main div.intro div.text h3 {
  color: #fff;
}
section.main div.intro div.text h1 span, section.main div.intro div.text h3 span {
  color: #a4adba;
}
section.main div.intro div.title {
  display: grid;
  grid-gap: 10px;
}
section.main div.advantages {
  position: relative;
}
section.main div.advantages div.list {
  position: relative;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-gap: var(--gap);
  border-radius: 8px;
  padding: var(--medium-gap);
  background: -webkit-gradient(linear, left top, right top, from(#313840), to(#252a2f));
  background: linear-gradient(90deg, #313840 0%, #252a2f 100%);
  width: 1000px;
  z-index: 2;
}
@media (max-width: 1280px) {
  section.main div.advantages div.list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-auto-columns: 1fr;
    width: 100%;
  }
}
@media (max-width: 640px) {
  section.main div.advantages div.list {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-gap: var(--medium-gap);
  }
}
section.main div.advantages div.item {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: var(--gap);
}
@media (max-width: 1280px) {
  section.main div.advantages div.item {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}
section.main div.advantages div.item svg path {
  stroke: #a4adba;
}
section.main div.advantages div.item:not(:last-child) {
  border-right: 1px dashed rgba(164, 173, 186, 0.5);
  padding-right: var(--gap);
}
@media (max-width: 640px) {
  section.main div.advantages div.item:not(:last-child) {
    border-right: unset;
    padding-right: unset;
    padding-bottom: var(--medium-gap);
    border-bottom: 1px dashed rgba(164, 173, 186, 0.5);
  }
}
section.main div.advantages div.item div.text {
  display: grid;
  grid-gap: 10px;
  color: #a4adba;
}
section.main div.advantages div.item div.text span {
  color: #fff;
}
section.main div.advantages::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: calc(50% + var(--gap));
  width: 100vw;
  background: white;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 640px) {
  section.main div.advantages::after {
    top: calc(var(--gap) * -1);
    height: calc(100% + var(--gap) * 2);
  }
}
section.main div.params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--medium-gap) var(--gap);
}
@media (max-width: 640px) {
  section.main div.params {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section.main div.params div.param {
  display: grid;
  grid-gap: 10px;
}
section.main div.params div.param small {
  color: #a4adba;
}
section.main div.params div.param h2 {
  font-size: 40px;
  color: white;
}
@media (max-width: 960px) {
  section.main div.params div.param h2 {
    font-size: 30px;
  }
}

section.features {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
  background: -webkit-gradient(linear, left top, right top, from(#fbfbfd), to(#f5f5f7));
  background: linear-gradient(90deg, #fbfbfd 0%, #f5f5f7 100%);
}
section.features div.container {
  display: grid;
  grid-gap: var(--big-gap);
  grid-column: breakout;
}
section.features div.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gap);
}
@media (max-width: 960px) {
  section.features div.list {
    grid-template-columns: 1fr;
  }
}
section.features div.feature {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: var(--gap);
  -webkit-box-shadow: 10px 10px 30px 0 rgba(32, 64, 94, 0.05);
          box-shadow: 10px 10px 30px 0 rgba(32, 64, 94, 0.05);
  background: #fff;
  padding: var(--gap);
  border-radius: 8px;
}
@media (max-width: 1280px) {
  section.features div.feature {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 960px) {
  section.features div.feature {
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
  }
}
@media (max-width: 640px) {
  section.features div.feature {
    grid-template-columns: 1fr;
  }
}
section.features div.feature div.image img {
  width: 240px;
  margin-top: calc(var(--gap) * -1);
  margin-left: calc(var(--gap) * -1);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left top;
     object-position: left top;
}
@media (max-width: 640px) {
  section.features div.feature div.image img {
    width: 100%;
    max-width: 300px;
  }
}
section.features div.feature div.text {
  display: grid;
  grid-gap: var(--gap);
  margin-top: var(--gap);
}
@media (max-width: 1280px) {
  section.features div.feature div.text {
    margin-top: unset;
  }
}
@media (max-width: 960px) {
  section.features div.feature div.text {
    margin-top: var(--gap);
  }
}
@media (max-width: 640px) {
  section.features div.feature div.text {
    margin-top: unset;
  }
}
section.features div.feature div.text span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.features div.feature div.text span.more {
  display: block;
  overflow: visible;
}
section.features div.feature div.text span.more + a.more small.show {
  display: none;
}
section.features div.feature div.text span.more + a.more small.hide {
  display: inline;
}
section.features div.feature div.text span.more + a.more div.icon {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
section.features div.feature a.more {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
  grid-template-columns: auto -webkit-max-content;
  grid-template-columns: auto max-content;
  grid-gap: var(--small-gap);
  color: #242629;
  font-weight: 500;
}
section.features div.feature a.more small {
  text-align: right;
}
section.features div.feature a.more small.show {
  display: inline;
}
section.features div.feature a.more small.hide {
  display: none;
}
section.features div.feature a.more div.icon {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: #242629;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section.features div.feature a.more div.icon svg path {
  stroke: white;
}

section.stages {
  padding-bottom: var(--section-gap);
  background: -webkit-gradient(linear, left top, right top, from(#fbfbfd), to(#f5f5f7));
  background: linear-gradient(90deg, #fbfbfd 0%, #f5f5f7 100%);
}
section.stages div.container {
  display: grid;
  grid-gap: var(--big-gap);
  grid-column: breakout;
}
section.stages div.tabs {
  display: grid;
  grid-gap: var(--big-gap);
}
section.stages div.swiper {
  width: 100%;
  min-width: 0;
}
section.stages div.tabs_contents div.swiper-slide {
  display: grid;
  grid-gap: var(--big-gap);
}
section.stages div.tabs_contents div.swiper-slide div.text {
  max-width: 960px;
}
section.stages div.tabs_contents div.swiper-slide img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

section.gallery div.container {
  grid-column: full;
}
section.gallery div.swiper {
  width: 100%;
  height: 75vh;
  min-width: 0;
}
section.gallery div.swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section.gallery div.counter {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: absolute;
  top: var(--big-gap);
  right: var(--big-gap);
  z-index: 5;
}
@media (max-width: 960px) {
  section.gallery div.counter {
    top: var(--medium-gap);
    right: var(--medium-gap);
  }
}
@media (max-width: 640px) {
  section.gallery div.counter {
    top: var(--gap);
    right: var(--gap);
  }
}
section.gallery div.counter span.current {
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  color: #fff;
}
@media (max-width: 960px) {
  section.gallery div.counter span.current {
    font-size: 50px;
  }
}
section.gallery div.counter span.total {
  font-weight: 500;
  font-size: 28px;
  line-height: 175%;
  color: #a4adba;
}
@media (max-width: 960px) {
  section.gallery div.counter span.total {
    font-size: 20px;
  }
}
section.gallery div.swiper-control {
  position: absolute;
  padding: var(--big-gap);
  bottom: 0px;
  right: 0px;
}
@media (max-width: 960px) {
  section.gallery div.swiper-control {
    padding: var(--medium-gap);
  }
}
@media (max-width: 640px) {
  section.gallery div.swiper-control {
    padding: var(--gap);
  }
}

section.callback {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
}
section.callback div.container {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--big-gap);
  grid-column: breakout;
}
@media (max-width: 640px) {
  section.callback div.container {
    grid-template-columns: 1fr;
  }
}
section.callback div.form {
  display: grid;
  grid-gap: var(--big-gap);
}
section.callback div.form div.text {
  display: grid;
  grid-gap: var(--medium-gap);
}
section.callback div.form div.inputs {
  display: grid;
  grid-gap: var(--gap);
}
section.callback div.form div.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gap);
}
@media (max-width: 1280px) {
  section.callback div.form div.row {
    grid-template-columns: 1fr;
  }
}
section.callback div.form form {
  display: grid;
  grid-gap: var(--big-gap);
}
section.callback div.form small a {
  font-size: inherit;
  font-weight: inherit;
  color: #242629;
  text-decoration: underline;
}
section.callback div.form small a:hover {
  text-decoration: none;
}
section.callback div.image {
  position: relative;
  height: 100%;
  width: 100%;
}
@media (max-width: 640px) {
  section.callback div.image {
    aspect-ratio: 4/3;
  }
}
section.callback div.image img {
  position: absolute;
  bottom: calc(var(--section-gap) * -1);
  left: 0;
  width: 100%;
  height: calc(100% + var(--section-gap));
  min-height: 960px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left bottom;
     object-position: left bottom;
}
@media (max-width: 1280px) {
  section.callback div.image img {
    height: 100%;
    min-height: unset;
    max-height: 720px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 640px) {
  section.callback div.image img {
    height: calc(100% + var(--section-gap));
    left: 10%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center bottom;
       object-position: center bottom;
    min-height: unset;
    max-height: unset;
  }
}/*# sourceMappingURL=project.css.map */