section.main {
  background: #1b1d21;
  padding-top: calc(var(--section-gap) + var(--header));
  padding-bottom: var(--gap);
  min-height: 100vh;
  z-index: 1;
}
section.main div.container {
  display: grid;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
  grid-gap: var(--section-gap);
}
section.main div.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
section.main div.preview::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 16, 18, 0.5);
  z-index: 1;
}
section.main div.preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section.main div.intro {
  position: relative;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: var(--big-gap);
  height: 100%;
  z-index: 2;
  color: #fff;
}
section.main div.intro div.text {
  display: grid;
  grid-gap: var(--medium-gap);
}
section.main div.intro div.text h1, section.main div.intro div.text h3 {
  color: #fff;
}
section.main div.intro div.text h1 span, section.main div.intro div.text h3 span {
  color: #a4adba;
}
section.main div.intro div.title {
  display: grid;
  grid-gap: 10px;
}
section.main div.advantages {
  position: relative;
}
section.main div.advantages div.list {
  position: relative;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-gap: var(--gap);
  border-radius: 8px;
  padding: var(--medium-gap);
  background: -webkit-gradient(linear, left top, right top, from(#313840), to(#252a2f));
  background: linear-gradient(90deg, #313840 0%, #252a2f 100%);
  width: 1000px;
  z-index: 2;
}
@media (max-width: 1280px) {
  section.main div.advantages div.list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-auto-columns: 1fr;
    width: 100%;
  }
}
@media (max-width: 640px) {
  section.main div.advantages div.list {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-gap: var(--medium-gap);
  }
}
section.main div.advantages div.item {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: var(--gap);
}
@media (max-width: 1280px) {
  section.main div.advantages div.item {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}
section.main div.advantages div.item svg path {
  stroke: #a4adba;
}
section.main div.advantages div.item:not(:last-child) {
  border-right: 1px dashed rgba(164, 173, 186, 0.5);
  padding-right: var(--gap);
}
@media (max-width: 640px) {
  section.main div.advantages div.item:not(:last-child) {
    border-right: unset;
    padding-right: unset;
    padding-bottom: var(--medium-gap);
    border-bottom: 1px dashed rgba(164, 173, 186, 0.5);
  }
}
section.main div.advantages div.item div.text {
  display: grid;
  grid-gap: 10px;
  color: #a4adba;
}
section.main div.advantages div.item div.text span {
  color: #fff;
}
section.main div.advantages::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: calc(50% + var(--gap));
  width: 100vw;
  background: white;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 640px) {
  section.main div.advantages::after {
    top: calc(var(--gap) * -1);
    height: calc(100% + var(--gap) * 2);
  }
}
section.main div.params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--medium-gap) var(--gap);
}
@media (max-width: 640px) {
  section.main div.params {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section.main div.params div.param {
  display: grid;
  grid-gap: 10px;
}
section.main div.params div.param small {
  color: #a4adba;
}
section.main div.params div.param h2 {
  font-size: 40px;
  color: white;
}
@media (max-width: 960px) {
  section.main div.params div.param h2 {
    font-size: 30px;
  }
}

section.subservices {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
  background: -webkit-gradient(linear, left top, right top, from(#fbfbfd), to(#f5f5f7));
  background: linear-gradient(90deg, #fbfbfd 0%, #f5f5f7 100%);
}
section.subservices div.container {
  display: grid;
  grid-gap: var(--big-gap);
  grid-column: breakout;
}
section.subservices div.text {
  display: grid;
  grid-gap: var(--gap);
  max-width: 960px;
}
section.subservices div.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
@media (max-width: 960px) {
  section.subservices div.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  section.subservices div.grid {
    grid-template-columns: 1fr;
  }
}
section.subservices div.grid a.item {
  position: relative;
  aspect-ratio: 1/1;
  background: -webkit-gradient(linear, left top, right top, from(#fbfbfd), to(#f5f5f7));
  background: linear-gradient(90deg, #fbfbfd 0%, #f5f5f7 100%);
  border-radius: 8px;
  padding: var(--medium-gap);
  overflow: hidden;
}
section.subservices div.grid a.item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section.subservices div.grid a.item h3 {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  z-index: 1;
}
@media (max-width: 960px) {
  section.subservices div.grid a.item h3 {
    font-size: 24px;
  }
}
section.subservices div.grid a.item:nth-child(4n), section.subservices div.grid a.item:nth-child(4n-3) {
  aspect-ratio: 2/1;
  grid-column: 2 span;
}
@media (max-width: 640px) {
  section.subservices div.grid a.item:nth-child(4n), section.subservices div.grid a.item:nth-child(4n-3) {
    grid-column: 1 span;
    aspect-ratio: 1/1;
  }
}
section.subservices div.grid a.item:nth-child(4n) h3, section.subservices div.grid a.item:nth-child(4n-3) h3 {
  font-size: 48px;
}
@media (max-width: 960px) {
  section.subservices div.grid a.item:nth-child(4n) h3, section.subservices div.grid a.item:nth-child(4n-3) h3 {
    font-size: 36px;
  }
}
@media (max-width: 640px) {
  section.subservices div.grid a.item:nth-child(4n) h3, section.subservices div.grid a.item:nth-child(4n-3) h3 {
    font-size: 24px;
  }
}

section.comfort {
  padding-bottom: var(--section-gap);
  background: -webkit-gradient(linear, left top, right top, from(#fbfbfd), to(#f5f5f7));
  background: linear-gradient(90deg, #fbfbfd 0%, #f5f5f7 100%);
}
section.comfort div.container {
  display: grid;
  grid-gap: var(--big-gap);
  grid-column: breakout;
}
section.comfort div.text {
  display: grid;
  grid-gap: var(--gap);
  max-width: 960px;
}
section.comfort div.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--big-gap) var(--gap);
}
@media (max-width: 960px) {
  section.comfort div.list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 960px) {
  section.comfort div.list {
    grid-template-columns: 1fr;
  }
}
section.comfort div.list div.item {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-gap: var(--gap);
}
section.comfort div.list div.item img {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 8px;
}
section.comfort div.list div.item div.description {
  display: grid;
  grid-gap: var(--small-gap);
}
@media (max-width: 960px) {
  section.comfort div.list br {
    display: none;
  }
}

section.continuity {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
}
section.continuity div.container {
  display: grid;
  grid-gap: var(--big-gap);
  grid-column: breakout;
}
section.continuity div.swiper {
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
section.continuity div.swiper div.swiper-slide {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  overflow: hidden;
  max-height: 640px;
}
@media (max-width: 1280px) {
  section.continuity div.swiper div.swiper-slide {
    aspect-ratio: 4/3;
  }
}
@media (max-width: 960px) {
  section.continuity div.swiper div.swiper-slide {
    aspect-ratio: 1/1;
  }
}
@media (max-width: 640px) {
  section.continuity div.swiper div.swiper-slide {
    aspect-ratio: 1/2;
  }
}
section.continuity div.swiper div.swiper-slide div.preview {
  width: 100%;
  height: 100%;
}
section.continuity div.swiper div.swiper-slide div.preview::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 38, 41, 0)), to(#242629));
  background: linear-gradient(180deg, rgba(36, 38, 41, 0) 0%, #242629 100%);
}
section.continuity div.swiper div.swiper-slide div.preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section.continuity div.swiper div.swiper-slide div.text {
  display: grid;
  -ms-flex-line-pack: end;
      align-content: end;
  grid-gap: var(--gap);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: calc(var(--medium-gap) + 40px);
  max-width: 640px;
  z-index: 1;
  color: #a4adba;
  padding: var(--big-gap);
  padding-bottom: var(--gap) !important;
}
@media (max-width: 960px) {
  section.continuity div.swiper div.swiper-slide div.text {
    padding: var(--medium-gap);
  }
}
@media (max-width: 640px) {
  section.continuity div.swiper div.swiper-slide div.text {
    padding: var(--gap);
    bottom: calc(var(--gap) + 40px);
  }
}
section.continuity div.swiper div.swiper-slide div.text h3, section.continuity div.swiper div.swiper-slide div.text b {
  color: #fff;
}
section.continuity div.swiper-control {
  position: absolute;
  padding: var(--medium-gap);
  bottom: 0px;
  right: 0px;
}
@media (max-width: 640px) {
  section.continuity div.swiper-control {
    padding: var(--gap);
  }
}

section.showroom {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
  background: -webkit-gradient(linear, left top, right top, from(#313840), to(#252a2f));
  background: linear-gradient(90deg, #313840 0%, #252a2f 100%);
  color: #fff;
}
section.showroom div.text {
  display: grid;
  grid-gap: var(--medium-gap);
  grid-column: breakout;
  color: #a4adba;
  max-width: 960px;
}
section.showroom div.text h2, section.showroom div.text h3 {
  color: #fff;
}
section.showroom div.text h3 {
  color: #a4adba;
}
section.showroom div.text span {
  color: #fff;
}
section.showroom div.video {
  position: relative;
  grid-column: breakout;
  aspect-ratio: 2.5/1;
  border-radius: 12px;
  -webkit-box-shadow: 0 20px 50px 0 rgba(20, 20, 26, 0.5);
          box-shadow: 0 20px 50px 0 rgba(20, 20, 26, 0.5);
  overflow: hidden;
  margin: var(--big-gap) 0;
}
@media (max-width: 960px) {
  section.showroom div.video {
    aspect-ratio: 16/9;
  }
}
@media (max-width: 640px) {
  section.showroom div.video {
    aspect-ratio: 3/2;
  }
}
section.showroom div.video img.preview {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
section.showroom div.video img.play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 640px) {
  section.showroom div.video img.play {
    width: 60px;
    height: 60px;
  }
}
section.showroom div.pins {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gap);
}
@media (max-width: 640px) {
  section.showroom div.pins {
    grid-template-columns: 1fr;
  }
}
section.showroom div.pins div.pin {
  display: grid;
  grid-gap: var(--small-gap);
  justify-items: center;
  text-align: center;
  border-radius: 8px;
  padding: var(--medium-gap) var(--gap);
  background: rgba(255, 255, 255, 0.05);
}
section.showroom div.pins div.pin a {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto -webkit-max-content;
  grid-template-columns: auto max-content;
  grid-gap: 10px;
  color: #a4adba;
}
section.showroom div.pins div.pin a:hover {
  color: white;
}
section.showroom div.pins div.pin a:hover svg path {
  stroke: #fff;
}
section.showroom div.pins div.pin a svg path {
  stroke: #a4adba;
}

section.projects {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
  background: #1b1d21;
  color: #fff;
}
section.projects h2 {
  color: #fff;
  grid-column: breakout;
  margin-bottom: var(--big-gap);
}
section.projects h2 span {
  color: #a4adba;
}
section.projects div.swiper {
  width: 100%;
  min-width: 0;
  overflow: visible;
}
section.projects div.swiper div.swiper-slide {
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: var(--big-gap);
  height: 100%;
}
section.projects div.swiper div.swiper-slide.swiper-slide-active a.project {
  opacity: 1;
}
section.projects div.swiper div.swiper-slide.swiper-slide-active a.project div.preview {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  aspect-ratio: 16/9;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
@media (max-width: 640px) {
  section.projects div.swiper div.swiper-slide.swiper-slide-active a.project div.preview {
    aspect-ratio: 1/1;
  }
}
section.projects div.swiper div.swiper-slide a.project {
  opacity: 0.5;
  -webkit-transition: all 1s;
  transition: all 1s;
}
section.projects div.swiper div.swiper-slide a.project div.preview {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  aspect-ratio: 21/9;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
@media (max-width: 640px) {
  section.projects div.swiper div.swiper-slide a.project div.preview {
    aspect-ratio: 1/1;
  }
}

section.scheme div.container {
  display: grid;
  grid-gap: var(--big-gap);
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
}
section.scheme div.list {
  counter-reset: step;
  padding-left: 24px;
  padding-right: 24px;
}
section.scheme div.list div.step {
  display: grid;
  grid-gap: var(--small-gap);
  position: relative;
  padding: var(--big-gap);
  border-radius: 24px;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#A4ADBA), color-stop(50%, #A4ADBA), color-stop(50%, white), to(white));
  background-image: linear-gradient(to right, #A4ADBA 0%, #A4ADBA 50%, white 50%, white 100%);
  background-position: top;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}
section.scheme div.list div.step strong, section.scheme div.list div.step span {
  position: relative;
  z-index: 4;
}
section.scheme div.list div.step::before {
  content: counter(step);
  counter-increment: step;
  width: 48px;
  height: 48px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: absolute;
  top: 50%;
  line-height: 1em;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='48' ry='48' stroke='rgb(113, 125, 141)' stroke-width='1' stroke-dasharray='4%2c 4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e") white;
  border-radius: 48px;
  z-index: 4;
}
section.scheme div.list div.step div.border {
  position: absolute;
  top: 0;
  width: 48px;
  height: 100%;
  background: red;
  background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='rgb(113, 125, 141)' stroke-width='1' stroke-dasharray='4%2c 4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 24px;
}
section.scheme div.list div.step:last-child {
  background-image: -webkit-gradient(linear, left top, right top, from(#A4ADBA), color-stop(50%, #A4ADBA), color-stop(50%, white), to(white)), -webkit-gradient(linear, left top, right top, from(#A4ADBA), color-stop(50%, #A4ADBA), color-stop(50%, white), to(white));
  background-image: linear-gradient(to right, #A4ADBA 0%, #A4ADBA 50%, white 50%, white 100%), linear-gradient(to right, #A4ADBA 0%, #A4ADBA 50%, white 50%, white 100%);
  background-position: top, bottom;
}
section.scheme div.list div.step:nth-child(2n-1):before {
  left: 100%;
}
section.scheme div.list div.step:nth-child(2n-1) div.border {
  right: 0;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
section.scheme div.list div.step:nth-child(2n):before {
  left: 0;
}
section.scheme div.list div.step:nth-child(2n) div.border {
  left: 0;
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

section.faq {
  background: -webkit-gradient(linear, left top, right top, from(#fbfbfd), to(#f5f5f7));
  background: linear-gradient(90deg, #fbfbfd 0%, #f5f5f7 100%);
}
section.faq div.container {
  display: grid;
  grid-gap: var(--big-gap);
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
}
section.faq div.accordion {
  border-bottom: 1px solid #a4adba;
  padding: var(--medium-gap) 0px;
}
section.faq div.accordion:first-child {
  border-top: 1px solid #a4adba;
}
section.faq div.accordion div.accordion_caption {
  cursor: pointer;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: var(--gap);
}
section.faq div.accordion div.accordion_caption div.icon {
  height: 0;
}
section.faq div.accordion div.accordion_caption div.icon svg {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
section.faq div.accordion div.accordion_text {
  margin-top: var(--small-gap);
}
section.faq div.accordion.open div.accordion_caption div.icon svg {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}/*# sourceMappingURL=service.css.map */