section.features
    div.container

        div.text
            h2 Возможности #[span цветной подсветки.]
            span Цветная подсветка может значительно #[b повлиять на наше настроение и восприятие помещения], что позволяет использовать их для создания уникальных световых сценариев.
            span Использование цветной подсветки может не только повлиять на эмоциональный фон, но и #[b подчеркнуть элементы декора], визуально изменить геометрию помещения.

        div.list
            div.item
                img(src="images/1.webp", alt="")
                div.description
                    h3 Акцентирование #[br]внимания
                    span Широкие возможности #[b для декорирования и светодизайна]: можно выделить зону, акцентировать внимание на объекте, подсветить контуры или нишу нужными цветами;
            div.item
                img(src="images/1.webp", alt="")
                div.description
                    h3 Богатая #[br]палитра
                    span Богатая палитра оттенков в совокупности с диммированием легко #[b меняет атмосферу интерьера;]
            div.item
                img(src="images/1.webp", alt="")
                div.description
                    h3 Назначение #[br]помещения
                    span В зависимости от цвета подсветки #[b можно быстро менять назначение помещения;]
            div.item
                img(src="images/1.webp", alt="")
                div.description
                    h3 Сценарии #[br]освещения
                    span Специалисты «Кластер» составляют сценарии освещения с учетом не только функциональных задач и светотехнического расчёта, но и #[b личных предпочтений пользователя], для каждого человека комфортным может оказаться свой оттенок;
            div.item
                img(src="images/1.webp", alt="")
                div.description
                    h3 Декоративные #[br]элементы
                    span Цветная подсветка делает #[b декоративным элементом] самые простые элементы интерьера: стена, потолок, угол, полка или ниша;