section.main
    div.container

        div.preview
            img(src="images/1.webp", alt="")

        div.intro
            div.text
                div.title
                    h1 #[span Управление] цветной подсветкой
                span "Алиса, давай релаксировать" - одна команда и свет стал переливаться мягкими оттенками зеленого и фиолетового и интерьер преобразился. Одним словом или нажатием кнопки можно изменить интерьер без дорогих дополнительных приобретений, если у вас установлена цветная подсветка.
            button
                span Рассчитать стоимость
                div.borders
                    div
                    div
                    div
                    div

        div.advantages
            div.list
                div.item
                    include ../../../images/svg/35.svg
                    div.text
                        span Создает настроение
                        small Управляйте эмоциями - различные оттенки, температура, яркость света #[span вызовут приятные ассоциации] и #[span создадут нужное настроение]

                div.item
                    include ../../../images/svg/34.svg
                    div.text
                        span Меняет восприятие интерьера
                        small С помощью одной RGB-подсветки #[span можно изменить геометрию интерьера] без дополнительного оформления и декора