section.about
    div.container

        div.text.observe.showTopBlock
            h2 О компании.
            span.observe.aft Компания Кластер #[b создает и устанавливает] систему Умного дома Кластер "под ключ" от проектирования и производства, #[b до монтажа и адаптации сценариев].

        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    img(src="images/12.webp", alt="")
                    h3 Оборудование
                    span Мы #[b являемся производителем], все оборудование #[b произведено в России] у наших партнеров по высочайшим стандартам.
                div.swiper-slide
                    img(src="images/13.webp", alt="")
                    h3 Оборудование
                    span Мы #[b являемся производителем], все оборудование #[b произведено в России] у наших партнеров по высочайшим стандартам.
                div.swiper-slide
                    img(src="images/12.webp", alt="")
                    h3 Оборудование
                    span Мы #[b являемся производителем], все оборудование #[b произведено в России] у наших партнеров по высочайшим стандартам.
                div.swiper-slide
                    img(src="images/13.webp", alt="")
                    h3 Оборудование
                    span Мы #[b являемся производителем], все оборудование #[b произведено в России] у наших партнеров по высочайшим стандартам.

        div.swiper-control.dark
            div.swiper-pagination
            div.swiper-navigation
                div.arrow: include ../../../images/arrow.svg
                div.arrow: include ../../../images/arrow.svg