section.main
    div.container

        div.preview
            img(src="images/1.webp", alt="")

        div.intro
            div.text.observe.afl
                div.title
                    h3.light Система умного дома
                    h1.light КЛАСТЕР
                h3.light Надежное решение #[br]#[span по] доступной цене
            button(data-modal-target="calculate")
                span Рассчитать стоимость
                div.borders
                    div
                    div
                    div
                    div

        div.advantages
            div.list
                div.item
                    include ../../../images/svg/38.svg
                    div.text
                        span Самая низкая стоимость
                        small Система умного дома под ключ по цене #[span обычной электрики]

                div.item
                    include ../../../images/svg/39.svg
                    div.text
                        span 7 лет работы без сбоев
                        small Гарантия #[span 5 лет] от производителя