section.services
    div.container
        h2 Возможности #[br]#[span умного дома.]

        div.grid
            div.service
                div.description
                    div.image
                        img(src="images/2.webp", alt="")
                    div.text
                        h3 Освещение
                        span Умный дом создаст для вас #[b комфортное настроение] в любое время суток.
                    a.more
                        small Подробнее
                        include ../../../images/arrow.svg
                div.list
                    div.item
                        img(src="images/svg/30.svg", alt="")
                        small Управление #[br]яркостью
                    div.item
                        img(src="images/svg/32.svg", alt="")
                        small Любые источники освещения
                    div.item
                        img(src="images/svg/31.svg", alt="")
                        small Световые #[br]сценарии
                    div.item
                        img(src="images/svg/29.svg", alt="")
                        small Управление с обычных выключателей
                    div.item
                        img(src="images/svg/28.svg", alt="")
                        small Управление цветом и теплотой освещения
                    div.item
                        img(src="images/svg/27.svg", alt="")
                        small Автоматическое освещение по датчикам
            div.service
                div.description
                    div.image
                        img(src="images/3.webp", alt="")
                    div.text
                        h3 Климатконтроль
                        span Умный дом поддерживает индивидуальные параметры по #[b микроклимату] в каждом помещении – #[b температура, влажность, СО2]
                    a.more
                        small Подробнее
                        include ../../../images/arrow.svg
                div.list
                    div.item
                        img(src="images/svg/21.svg", alt="")
                        small Управление системой отопления
                    div.item
                        img(src="images/svg/22.svg", alt="")
                        small Управление теплыми полами
                    div.item
                        img(src="images/svg/20.svg", alt="")
                        small Управление кондиционерами и вентиляцией
                    div.item
                        img(src="images/svg/23.svg", alt="")
                        small Управление системой увлажнения
                    div.item
                        img(src="images/svg/19.svg", alt="")
                        small Управление климатом в загородном доме
            div.service
                div.description
                    div.image
                        img(src="images/4.webp", alt="")
                    div.text
                        h3 Устройства
                        span Система позволяет #[b интегрировать различные устройства] в общий контур умного дома, задействовать эти устройства #[b в общих сценариях, правилах и будильниках.]
                    a.more
                        small Подробнее
                        include ../../../images/arrow.svg
                div.list
                    div.item
                        img(src="images/svg/11.svg", alt="")
                        small Управление шторами и жалюзи
                    div.item
                        img(src="images/svg/12.svg", alt="")
                        small Управление воротами и замками
                    div.item
                        img(src="images/svg/13.svg", alt="")
                        small Умные #[br]розетки
                    div.item
                        img(src="images/svg/14.svg", alt="")
                        small Управление беспроводными устройствами
                    div.item
                        img(src="images/svg/15.svg", alt="")
                        small Управление по ИК
                    div.item
                        img(src="images/svg/16.svg", alt="")
                        small Управление вытяжками
            div.service
                div.description
                    div.image
                        img(src="images/5.webp", alt="")
                    div.text
                        h3 Безопасность
                        span Умный дом #[b следит за работой инженерных систем], реагирует на нештатные ситуации и #[b оперативно уведомляет хозяев.]
                    a.more
                        small Подробнее
                        include ../../../images/arrow.svg
                div.list
                    div.item
                        img(src="images/svg/17.svg", alt="")
                        small Защита от протечек
                    div.item
                        img(src="images/svg/25.svg", alt="")
                        small Охрана и датчики безопасности
                    div.item
                        img(src="images/svg/26.svg", alt="")
                        small Видео­наблюдение
                    div.item
                        img(src="images/svg/24.svg", alt="")
                        small Уведомление о нештатных ситуациях
                    div.item
                        img(src="images/svg/18.svg", alt="")
                        small Контроль доступа
            div.service
                div.description
                    div.image
                        img(src="images/6.webp", alt="")
                    div.text
                        h3 Мультимедиа
                        span Умный дом позволяет #[b наслаждаться] Вашей любимой #[b музыкой] и #[b управлять] ей #[b из единого центра] умного дома
                    a.more
                        small Подробнее
                        include ../../../images/arrow.svg
                div.list
                    div.item
                        img(src="images/svg/8.svg", alt="")
                        small Управление встроенной акустикой
                    div.item
                        img(src="images/svg/5.svg", alt="")
                        small Управление домашним кинотеатром
                    div.item
                        img(src="images/svg/10.svg", alt="")
                        small Система мультирум
                    div.item
                        img(src="images/svg/7.svg", alt="")
                        small Управление экранами и проекторами
                    div.item
                        img(src="images/svg/6.svg", alt="")
                        small Управление аудио и видео контентом
                    div.item
                        img(src="images/svg/9.svg", alt="")
                        small Голосовое управление
            div.service
                div.description
                    div.image
                        img(src="images/7.webp", alt="")
                    div.text
                        h3 Умный дом
                        span Кластер – это гибридная система, позволяющая использовать #[b беспроводные устройства и датчики] от ведущих производителей.
                    a.more
                        small Подробнее
                        include ../../../images/arrow.svg
                div.list
                    div.item
                        img(src="images/svg/4.svg", alt="")
                        small Беспроводные датчики и исполнительные устройства
                    div.item
                        img(src="images/svg/1.svg", alt="")
                        small Беспроводные элементы управления
                    div.item
                        img(src="images/svg/2.svg", alt="")
                        small Умный #[br]ИК пульт
                    div.item
                        img(src="images/svg/3.svg", alt="")
                        small Беспроводные терморегуляторы