include ../../common/_mixins.pug

section.catalog
    div.container

        div.text
            h1 Комплектующие #[span для Умного дома.]
            span.observe.aft Для многих заказчиков привычна #[b зависимость цены от площади объекта], и для первичного понимания формирования стоимости такая зависимость действительно есть, она приведена ниже в таблице. #[b Но такой подход к оценке стоимости системы умного дома не всегда верен], так как даже на маленькой площади можно разместить достаточно много различных датчиков и устройств, которыми управляет умный дом, и наоборот, в большом доме или квартире можно реализовать только часть функций.

        div.list
            +category('images/categories/1.webp', 'AV ресиверы')
            +category('images/categories/2.webp', 'Беспроводной мультирум')
            +category('images/categories/3.webp', 'Блоки питания')
            +category('images/categories/4.webp', 'Видеонаблюдение')
            +category('images/categories/5.webp', 'Встраиваемая акустика')
            +category('images/categories/6.webp', 'Запорные краны')
            +category('images/categories/7.webp', 'Кабель')
            +category('images/categories/8.webp', 'Коммутаторы')
            +category('images/categories/9.webp', 'Регистарторы')
            +category('images/categories/10.webp', 'Сервоприводы')
            +category('images/categories/11.webp', 'Сетевое оборудование')
            +category('images/categories/12.webp', 'Терморегуляторы')
            +category('images/categories/13.webp', 'Щиты')