section.content
    div.container

        h2 Проектирование #[span под ключ.]

        p Вносим правки в проект #[b на всех стадиях работ], в том числе финализируем документацию по факту запуска системы умного дома

        ul.list
            li: strong Техническое задание на проектирование
            li: strong Требования к вводу силовых и слаботочных линий в электрический щит
            li: strong Принципиальная схема прокладки кабелей к оконечному оборудованию, датчикам и актуаторам
            li: strong Принципиальная схема размещения оборудования в щите автоматизации
            li: strong Пояснительная записка к проекту с описанием функционала
            li: strong Схема подключения модулей и элементов системы умного дома
            li: strong Спецификация оборудования и кабельный журнал
            li: strong Таблица расключения силовых кабелей по клемным колодкам (исполнительная документация)
            li: strong Поканальная таблица подключения оборудования автоматизации (исполнительная документация)

        a.download
            img(src="images/download.svg", alt="")
            span Скачать пример проекта
            small PDF, 2.3 Мб
