section.main
    div.container

        div.preview
            img(src="images/1.webp", alt="")

        div.intro
            div.text
                div.title
                    h1.light Проекти­рование #[br]#[span Умного Дома]
                span.observe.aft Компания Кластер занимается проектированием систем умного дома, слаботочных и электрических сетей любой сложности, используя передовое программное обеспечение. Наши специалисты доводят проект до финиша, внося необходимые правки на всех стадиях проекта, чтобы заказчики имели полный комплект документации по завершению работ.
            button
                span Рассчитать стоимость
                div.borders
                    div
                    div
                    div
                    div

        div.advantages
            div.list
                div.item
                    include ../../../images/svg/38.svg
                    div.text
                        span Самая низкая стоимость
                        small Проект по умному дому и вся #[span документация делаются по доступной цене] без каких-либо доплат на стадии проектирования

                div.item
                    include ../../../images/svg/33.svg
                    div.text
                        span Все виды проектных работ
                        small Разрабатываем #[span все виды документации], в том числе электропроекты ЭОМ, слаботочные сети СС и проекты по мультимедиа