section.stages
    div.container

        h2 Этапы #[br]#[span проектирования.]

        div.tabs

            div.swiper.tabs_captions
                div.swiper-wrapper
                    div.swiper-slide Обсуждение
                    div.swiper-slide Внесение изменений
                    div.swiper-slide Документация
                    div.swiper-slide Передача проекта

            div.swiper.tabs_contents
                div.swiper-wrapper
                    -for(x=0; x<4; x++)
                        div.swiper-slide
                            img(src="images/1.webp", alt="")
                            div.text.observe.afl
                                h3 Согласование и обсуждение проекта с рабочей группой
                                span Создаем #[b общий чат с заказчиком, дизайнером, рабочими] для обсуждения всех вопросов, оперативно подготавливаем #[b первичную версию проекта] для совместного согласования