section.advantages
    h2 Преимущества #[span умного дома для бизнеса.]
    
    div.container
        div.list
            div.image
                img(src="images/10.webp", alt="")
            div.item
                h3 Повышение стоимости недвижимости
                span Умные системы могут значительно улучшить #[b функциональность и комфорт здания], что может повысить его привлекательность для #[b потенциальных арендаторов] и инвесторов, и, как следствие, #[b повысить стоимость недвижимости.]
            div.item
                h3 Улучшенное управление ресурсами
                span Системы умного дома позволяют #[b оптимизировать использование энергии, воды и других ресурсов.] Это способствует снижению операционных расходов и уменьшению затрат на коммунальные услуги, что может значительно повлиять на #[b доходность объекта.]
            div.item
                h3 Привлекательность для престижных арендаторов
                span Современные компании все больше оценивают #[b инновационные и экологически ответственные решения.] Установка систем умного дома может привлечь #[b престижных арендаторов], желающих работать в современных и технологичных условиях.
            div.item
                h3 Улучшение управления недвижимостью
                span Умные системы предоставляют собственникам ценную информацию о состоянии здания, эффективности его работы и использования пространств. Это облегчает #[b принятие обоснованных решений по обслуживанию], реконструкции и #[b адаптации объекта.]
            div.image
                img(src="images/11.webp", alt="")