section.main
    div.container

        div.preview
            img(src="images/1.webp", alt="")

        div.intro
            div.text
                div.title
                    h1.light #[span Умный дом] для Бизнеса
                span.observe.aft Даст новые возможности для ваших арендаторов, а вам поможет упростить администрирование и оптимизировать эксплуатационные расходы
            button
                span Узнать больше
                div.borders
                    div
                    div
                    div
                    div