section.features
    div.container
        h2 #[span Реализованные] #[br]возможности.

        div.list
            div.feature
                div.image: img(src="images/5.webp", alt="")
                div.text
                    strong Безопасность
                    span В квартире реализована система от протечек с автоматическим перекрытием воды в случае нештатной ситуации, управление несколькими умными розетками, которые отключаются по сценарию «Я ушел». Отдельно стоит отметить реализованный функционал по видеонаблюдению, который позволяет родителям спокойно оставлять детей одних. Камеры физически отключаются вечером, когда родители приходят домой.
                    a(onclick="this.previousElementSibling.classList.toggle('more')").more
                        small.show Раскрыть полностью
                        small.hide Скрыть
                        div.icon
                            include ../../../images/arrow.svg
            div.feature
                div.image: img(src="images/3.webp", alt="")
                div.text
                    strong Климатконтроль
                    span В квартире реализовано управление климатом в каждом помещении, каждый член семьи может настроить свои индивидуальные параметры температуры в течение дня. Управление температурой осуществляется с помощью внутрипольных конвекторов и канальной системы кондиционирования. Также в систему умного интегрированы теплые полы, которые включаются утром за 10 минут до будильника, а выключаются автоматически по сценарию «Я ушел».
                    a(onclick="this.previousElementSibling.classList.toggle('more')").more
                        small.show Раскрыть полностью
                        small.hide Скрыть
                        div.icon
                            include ../../../images/arrow.svg
            div.feature
                div.image: img(src="images/2.webp", alt="")
                div.text
                    strong Освещение
                    span В проекте реализовано управление классическим освещением с возможностью регулировки яркости, управление светодиодными подсветками, а также управление трековыми системами. В квартире расположены несколько датчиков движения в проходных зонах и санузлах, по этим датчикам включается подсветка, яркость которой автоматически регулируется в зависимости от времени суток.
                    a(onclick="this.previousElementSibling.classList.toggle('more')").more
                        small.show Раскрыть полностью
                        small.hide Скрыть
                        div.icon
                            include ../../../images/arrow.svg
            div.feature
                div.image: img(src="images/4.webp", alt="")
                div.text
                    strong Устройства
                    span В рамках системы умного дома Кластер реализовано управление шторами с электроприводом. В спальне – раздвижные карнизы и рулонная штора «блэкаут», в детских комнатах – римские шторы, а в гостиной – двойной раздвижной карниз для портьеры и тюля.
                    a(onclick="this.previousElementSibling.classList.toggle('more')").more
                        small.show Раскрыть полностью
                        small.hide Скрыть
                        div.icon
                            include ../../../images/arrow.svg