section.main
    div.container

        div.preview
            img(src="images/projects/5.webp", alt="")

        div.intro
            div.text
                div.title
                    h1.light #[span Квартира в ЖК] Кутузовский LIFE
                span.observe.aft Четырехкомнатная квартира на Западе Москвы для молодой семьи. Задача – сделать проживание в квартире комфортным и безопасным, особенно пока родители на работе. Большой акцент сделан на системы безопасности и простоту управления. В проекте предусмотрено несколько колонок для голосового управления и много автоматических сценариев работы по таймерам и датчикам.
            div.params
                div.param
                    small Площадь объекта
                    h2 2500 кв. м.
                div.param
                    small Длительность
                    h2 14 мес.
                div.param
                    small Стоимость
                    h2 2 550 000 ₽