section.stages
    div.container

        h2 Этапы #[span работы.]

        div.tabs

            div.swiper.tabs_captions
                div.swiper-wrapper
                    div.swiper-slide Проектирование
                    div.swiper-slide Инженерные сети
                    div.swiper-slide Монтаж
                    div.swiper-slide Настройка
                    div.swiper-slide Сценарии

            div.swiper.tabs_contents
                div.swiper-wrapper
                    div.swiper-slide
                        div.text
                            span Для прокладки силовых и слаботочных линий создан #[b подробный проект с указанием необходимых маркировок] и комментариев. Для внешних элементов (датчики движения, камеры видеонаблюдения) указаны привязки.
                        img(src="images/9.webp", alt="")
                    -for(x=0; x<4; x++)
                        div.swiper-slide
                            div.text
                                span Для прокладки силовых и слаботочных линий создан #[b подробный проект с указанием необходимых маркировок] и комментариев. Для внешних элементов (датчики движения, камеры видеонаблюдения) указаны привязки.