include ../../common/_mixins.pug

section.other
    div.container

        h2 #[span Возможно] вас заинтересует.

        div.list
            +product('images/products/3.webp', 'DS-2CD2047G2-LU(C)(2.8mm)', 'Компактная камера Hikvision на кронштейне', '17 090 ₽')
            +product('images/products/4.webp', 'DS-2CD2047G2-LU(C)(2.8mm)', 'Уличная камера на кронштейне Hikvision', '18 790 ₽')
            +product('images/products/5.webp', 'DS-2CD2047G2-LU(C)(2.8mm)', 'Накладная 2 Мп IP вызывная панель Hikvision (комплект)', '17 890 ₽')