section.product
    div.container

        div.breadcrumbs
            a(href="catalog.html"): small Комплектующие
            small &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            a(href="category.html"): small Видеонаблюдение
            small &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            small Уличная камера на кронштейне Hikvision

        h1 #[span Уличная камера] на кронштейне Hikvision.

        div.about
            div.preview
                img(src="images/products/5.webp", alt="")
            div.description
                span.article Артикул товара: #[b 915093426]
                div.text
                    h3 Описание
                    span.observe.aft Уличная IP-камера #[b Hikvision DS-2CD2047G2-LU] благодаря улучшенной матрице позволяет получить детальное видео с высоким разрешением. Устройство оснащено микрофоном, проводным подключением #[b с поддержкой PoE] и #[b сетевым интерфейсом RJ45.] Данная модель безотказно работает #[b при температуре окружающей среды от -40°C до +60°C.] Устройство Hikvision DS-2CD2047G2-LU оснащено #[b LED-подсветкой, ночной съемкой с хорошей видимостью], датчиками пересечения линии и движения, технологиями #[b Anti-Flicker и Heartbeat.]
                div.price.observe.afr: h3 17 890 ₽

                div.specs
                    h3 Характеристики
                    div.table
                        div.row
                            small Вид камеры
                            small: b IP камера
                        div.row
                            small Общее количество пикселей
                            small: b 4 Мпикс
                        div.row
                            small Степень защиты
                            small: b IP67
                        div.row
                            small Цвет
                            small: b Белый
                        div.row
                            small Угол обзора, градусов
                            small: b 112
                        div.row
                            small Тип матрицы
                            small: b CMOS 1/1.8”
                        div.row
                            small Форматы файлов видео
                            small: b H.264, H.265
                        div.row
                            small Форматы файлов видео
                            small: b H.264, H.265
                        div.row
                            small Датчики
                            small: b Движения
                        div.row
                            small Особенности
                            small: b Режим "День/Ночь", #[br]Детектор движения
                        div.row
                            small Мин. температура эксплуатации, °С
                            small: b -40
                        div.row
                            small Макс. температура эксплуатации, С°
                            small: b +60
                        div.row
                            small Вес товара, г
                            small: b 695
                        div.row
                            small Габариты камеры (ДхШхВ, мм)
                            small: b 215х79х79

                