section.calculate
    div.container

        h2 Расчёт #[br]#[span стоимости.]

        div.list
            div.item
                div.text
                    strong Проект и инженерный надзор
                    small Качественное проектирование системы - залог успешной инсталляции. Наша компания использует специальное программное обеспечение для составления идеальной проектной документации и учета всех Ваших пожеланий
                div.price
                    strong 80 700 ₽
            div.item
                div.text
                    strong Комплектующие системы
                    small Компания Кластер является компанией-производителем, наши устройства имеют сертификаты соответствия и отвечают высоким стандартам качества и надежности
                div.price
                    strong 650 760 ₽
            div.item
                div.text
                    strong Монтаж и настройка системы
                    small Компания Кластер является компанией-производителем, наши устройства имеют сертификаты соответствия и отвечают высоким стандартам качества и надежности
                div.price
                    strong 263 750 ₽
            div.item
                div.text
                    strong Приложение для iOS и Android
                    small Компания Кластер является компанией-производителем, наши устройства имеют сертификаты соответствия и отвечают высоким стандартам качества и надежности
                div.price
                    strong(style="color: red") в подарок
            div.item
                div.text
                    h3 Итого:
                div.price
                    h3 995 210 ₽
