mixin feature(title, count)
    div.accordion
        div.accordion_caption
            span: b= title
            span.count= count
            div.icon
                include ../../../images/accordion_plus.svg
        div.accordion_content
            div.accordion_wrap
                div.accordion_text
                    span Регулирование яркости различных светильников позволяет #[b подстоить световую композицию помещения под свой ритм жизни]. Система умного дома призвана помочь в этом при помощи сценариев.

section.features
    div.container

        h2 Предусмотренные #[br]#[span проектом] возможности.

        div.tabs

            div.swiper.tabs_captions
                div.swiper-wrapper
                    div.swiper-slide Освещение
                    div.swiper-slide Климатконтроль
                    div.swiper-slide Безопасность
                    div.swiper-slide Устройства

            div.swiper.tabs_contents
                div.swiper-wrapper
                    -for(x=0; x<=3; x++)
                        div.swiper-slide
                            img(src="images/screen.webp", alt="")
                            div.text.observe.afl
                                +feature('Освещение вкл/выкл', '12 зон')
                                +feature('Диммируемый свет', '5 зон')
                                +feature('LED подсветка', '8 зон')
                                +feature('Управление уличной подсветкой', '4 зоны')
                                +feature('Клавиши выключателей', '36 шт.')
                                +feature('Датчик движения скрытый белый', '5 зон')