section.main
    div.container

        div.preview
            img(src="images/1.webp", alt="")

        div.intro
            div.text
                div.title
                    h1 Предложение по установке #[span умного дома Кластер для] Олега Алексеевича
                span Загородный дом, Московская область