div.manager
    div.image
        img(src="images/face.webp", alt="")
    div.about
        div.text
            small Ваш менеджер
            span Петрова Анастасия
        div.socials
            a(href="index.html"): img(src="images/telegram.svg", alt="")
            a(href="index.html"): img(src="images/whatsapp.svg", alt="")
            a(href="index.html"): img(src="images/viber.svg", alt="")