section.main
    div.container

        div.preview
            img(src="images/1.webp", alt="")

        div.intro
            div.text
                div.title
                    h1.light #[span Более 350] успешных проектов
                span.observe.aft Следующий проект может быть Вашим, #[br]начните с бесплатной консультации!
            button
                span Бесплатная консультация
                div.borders
                    div
                    div
                    div
                    div