include ../../common/_mixins.pug

section.projects
    div.container

        h2 #[span Выполненные] #[br]проекты.

        div.list
            +project('images/1.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            +project('images/1.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            +project('images/1.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            +project('images/1.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            +project('images/1.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            +project('images/1.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')

