mixin continuity(title)

    section.continuity
        div.container
            h2 !{title}

            div.swiper
                div.swiper-wrapper
                    div.swiper-slide
                        div.preview
                            img(src="images/1.webp", alt="")
                        div.text.observe.afl
                            h3 Романтический вечер
                            span Выключается верхнее основное освещение, а #[b атмосферу] задают #[b интерьерные подсветки] и светильники с #[b регулируемой яркостью]. Цветная подсветка #[b добавляет настроение] для просмотра #[b любимого фильма] или неторопливой беседы.
                    div.swiper-slide
                        div.preview
                            img(src="images/1.webp", alt="")
                        div.text.observe.afl
                            h3 Выключить все
                            span #[b Любой выключатель] в квартире или загородном доме #[b может быть настроен как сценарный], который выключает весь свет в отдельном помещении или во всей квартире, его удобно расположить не только при выходе из квартиры, но и в прикроватной зоне #[b для активирования комплексного сценария «Спокойной ночи»].
                    div.swiper-slide
                        div.preview
                            img(src="images/1.webp", alt="")
                        div.text.observe.afl
                            h3 Биодинамическое освещение
                            span Выключается верхнее основное освещение, а #[b атмосферу] задают #[b интерьерные подсветки] и светильники с #[b регулируемой яркостью]. Цветная подсветка #[b добавляет настроение] для просмотра #[b любимого фильма] или неторопливой беседы.
                div.swiper-control
                    div.swiper-pagination
                    div.swiper-navigation
                        div.arrow: include ../../images/arrow.svg
                        div.arrow: include ../../images/arrow.svg
