mixin question(question, answer)
    div.accordion
        div.accordion_caption
            strong= question
            div.icon
                include ../../images/accordion_plus.svg
        div.accordion_content
            div.accordion_wrap
                div.accordion_text !{answer}

section.faq
    div.container
        h2 #[span Часто задаваемые] #[br]вопросы.

        div.list.observe.aft
            +question('Что будет, если отключат электричество?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Что произойдет, если система выйдет из строя?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Нужно ли монтировать всю систему за один раз?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Какая гарантия на систему?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Что будет, если отключат интернет?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Входят ли в стоимость монтажные работы?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Могу ли я подключить к системе устройства от других производителей умных домов?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Вы можете выполнить все работы по электрике под ключ?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Можно ли взломать систему и получить доступ к управлению?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Нужно ли покупать какие-то специальные розетки и выключатели света?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')
            +question('Возможна ли оплата безналичным способом?', 'Для системы можно поставить дополнительно ИБП, в этом случае <b>система уведомит хозяев об отключении электричества</b>. Если же система отключится от питания, то после возобновления работы она <b>самостоятельно вернется к состоянию перед отключением</b>')

