section.gallery
    div.container

        div.counter
            span.current
            span.total

        div.swiper
            div.swiper-wrapper
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")
                div.swiper-slide: img(src="images/1.webp", alt="")

            div.swiper-control
                div.swiper-pagination
                div.swiper-navigation
                    div.arrow: include ../../images/arrow.svg
                    div.arrow: include ../../images/arrow.svg