section.gallery
    div.container

        div.counter
            span.current
            span.total

        div.swiper
            div.swiper-wrapper
                div.swiper-slide: img(src="images/apartments/1.webp", alt="")
                div.swiper-slide: img(src="images/apartments/2.webp", alt="")
                div.swiper-slide: img(src="images/apartments/3.webp", alt="")
                div.swiper-slide: img(src="images/apartments/4.webp", alt="")
                div.swiper-slide: img(src="images/apartments/5.webp", alt="")
                div.swiper-slide: img(src="images/apartments/6.webp", alt="")
                div.swiper-slide: img(src="images/apartments/7.webp", alt="")
                div.swiper-slide: img(src="images/apartments/8.webp", alt="")
                div.swiper-slide: img(src="images/apartments/9.webp", alt="")
                div.swiper-slide: img(src="images/apartments/10.webp", alt="")
                div.swiper-slide: img(src="images/apartments/11.webp", alt="")
                div.swiper-slide: img(src="images/apartments/12.webp", alt="")

            div.swiper-control
                div.swiper-pagination
                div.swiper-navigation
                    div.arrow: include ../../images/arrow.svg
                    div.arrow: include ../../images/arrow.svg