include ../common/_mixins.pug

section.projects
    h2.light #[span Выполненные] #[br]проекты.

    div.swiper
        div.swiper-wrapper
            div.swiper-slide
                +project('images/projects/1.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/2.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/3.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/4.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/5.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/6.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/1.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/2.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/3.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/4.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/5.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
            div.swiper-slide
                +project('images/projects/6.webp', 'Трехкомнатная квартира <br/>в ЖК «Юнион-Парк»', 'Большая квартира, соединенная из двух соседних апартаментов для семьи из четырех человек.', '88 кв. м.', '580 000 ₽')
        div.swiper-control
            div.swiper-pagination
            div.swiper-navigation
                div.arrow: include ../../images/arrow.svg
                div.arrow: include ../../images/arrow.svg