section.scheme
    div.container
        h2 Схема работы #[span с клиентами.] #[br]

        div.list.observe.aft
            div.step
                strong Бесплатная консультация
                span Специалисты приедут на объект для #[b инженерного аудита и консультации] по всем вопросам.
                div.border
            div.step
                strong Расчет стоимости системы
                span Расчет включает в себя сразу все #[b возможные платежи и работы] без последующих изменений.
                div.border
            div.step
                strong Проектирование и шеф-монтаж
                span Специалисты выполнят все проектные работы #[b в короткий срок] и согласуют его со всеми инженерными системами в доме.
                div.border
            div.step
                strong Сборка системы и оборудования
                span Монтажные работы ведутся параллельно с #[b финишной отделкой] и не влияют на сроки сдачи объекта.
                div.border
            div.step
                strong Настройка под ваши задачи
                span Настройка осуществляется по согласованному заданию, #[b система сдается полностью готовой] к использованию.
                div.border