section.showroom
    div.text
        div.title
            h3 Посетите наш
            h2 ШОУРУМ.
        p Наш шоурум представляет из себя #[span полноценную квартиру-офис], оснащенную системой умного дома, где #[span вы с комфортом сможете посмотреть на возможности системы] умного дома Кластер
        button
            span Записаться в шоурум
            div.borders
                div
                div
                div
                div
    div.video
        img(src="images/1.webp", alt="").preview
        img(src="images/play.svg", alt="").play
    div.pins
        div.pin
            img(src="images/pin.svg", alt="")
            span Москва, Ленинградский пр. 36 с. 40, ЖК ВТБ Арена Парк
            a
                small на карте
                include ../../images/arrow.svg
        div.pin
            img(src="images/pin.svg", alt="")
            span Санкт-Петербург, Кушелевская дорога 12
            a
                small на карте
                include ../../images/arrow.svg