section.article
    div.container

        div.breadcrumbs
            a(href="articles.html"): small Важно знать
            small &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            small Дизайнерам об освещении в системе умного дома

        h1 Дизайнерам об освещении #[span в системе умного дома.]
        p Для многих заказчиков привычна зависимость цены от площади объекта, и для первичного понимания формирования стоимости такая зависимость действительно есть, она приведена ниже в таблице. Но такой подход к оценке стоимости системы умного дома не всегда верен, так как даже на маленькой площади можно разместить достаточно много различных датчиков и устройств, которыми управляет умный дом, и наоборот, в большом доме или квартире можно реализовать только часть функций.

        ul.list
            li
                div.block
                    strong Работа с группами света.
                    span Для нашей системы нет необходимости к каждой группе света делать выключатель. Мы можем управлять различными источниками света одновременно, причем это возможно с разными настройками в зависимости от времени суток. В общем случае можно обойтись вообще без выключателя: например, для ночной подсветки проходных зон, срабатывающей в определенное время суток по сигналу датчика движения. Такие сценарии могут значительно украсить дизайн-проект с точки зрения освещения. Рекомендуем чаще использовать RGB-ленты для интерьерных подсветок.
            li
                div.block
                    strong Работа с любыми выключателями.
                    span Для нашей системы нет необходимости покупать специальные выключатели: можно использовать любые, подходящие по дизайну. Мы рекомендуем выключатели с возвратными механизмами – типа «звонковая кнопка». Для управления шторами, жалюзи и прочими движущимися устройствами удобно использовать выключатели типа «качель».
            li
                div.block
                    strong Проходные и перекрестные выключатели.
                    span С точки зрения системы умного дома, выключатель - это источник сигнала для определенного действия, которое в систему заводится на программном уровне. Соответственно, нет необходимости тянуть множество проводов для проходных и перекрестных выключателей – к каждой клавише просто придет слаботочный кабель, предусмотренный нашим проектом. Другой конец этого кабеля будет расключен в щитке умного дома на один из модулей. И так с каждой клавишей.
            li
                div.block
                    strong Многокнопочные выключатели.
                    span Зачастую хозяева квартир не хотят видеть «пианино» выключателей на стенах для управления всеми источниками света, но желают сохранить возможность ручного управления. В таких случаях мы рекомендуем многокнопочные выключатели от JUNG, VIMAR и т.д., которые позволяют в одном посту использовать 4, 6 или даже 8 клавиш.
            li
                div.block
                    strong Управление по датчику освещенности.
                    span Мы рекомендуем использовать датчики освещенности и управление по их сигналам в сценарном управлении общих помещений, таких как гостиная. В этом случае система по желанию хозяина откроет шторы в утреннее время, если будет слишком темно и наоборот, закроет их в ночное время, сохраняя приватность.