section.prices
    div.container
        h1 Прайс-лист #[br]#[span на Умный Дом.]
        p.observe.aft Для многих заказчиков привычна #[b зависимость цены от площади объекта], и для первичного понимания формирования стоимости такая зависимость действительно есть, она приведена ниже в таблице. #[b Но такой подход к оценке стоимости системы умного дома не всегда верен], так как даже на маленькой площади можно разместить достаточно много различных датчиков и устройств, которыми управляет умный дом, и наоборот, в большом доме или квартире можно реализовать только часть функций.

        table
            thead
                tr
                    th Тип объекта
                    th Площадь
                    th Стоимость #[br]стандартной #[br]комплектации
            tbody
                tr 
                    td(data-title="Тип объекта"): strong Квартира в Москве
                    td(data-title="Площадь"): strong 40-70м²
                    td(data-title="Стоимость стандартной комплектации"): strong 420 000 руб.
                tr 
                    td(data-title="Тип объекта"): strong Квартира в Москве
                    td(data-title="Площадь"): strong 70-100м²
                    td(data-title="Стоимость стандартной комплектации"): strong 650 000 руб.
                tr 
                    td(data-title="Тип объекта"): strong Квартира в Москве
                    td(data-title="Площадь"): strong 100-150м²
                    td(data-title="Стоимость стандартной комплектации"): strong 790 000 руб.
                tr 
                    td(data-title="Тип объекта"): strong Загородный дом в Подмосковье
                    td(data-title="Площадь"): strong 150-200м²
                    td(data-title="Стоимость стандартной комплектации"): strong 1 100 000 руб.
                tr 
                    td(data-title="Тип объекта"): strong Загородный дом в Подмосковье
                    td(data-title="Площадь"): strong 200-300м²
                    td(data-title="Стоимость стандартной комплектации"): strong 1 450 000 руб.
                tr 
                    td(data-title="Тип объекта"): strong Загородный дом в Подмосковье
                    td(data-title="Площадь"): strong 300-500м²
                    td(data-title="Стоимость стандартной комплектации"): strong 1 800 000 руб.

        p Стоимость системы Умный Дом под ключ напрямую зависит от выбранных функций и их количества на объекте, также стоит отметить, что цена на систему Умного Дома зависит и от общего объема реализуемых функций – чем их больше, тем ниже получается стоимость за каждую функцию в отдельности.
        p Цена за умный дом зависит также от типа и удаленности объекта от Москвы, установка комплекса Умный Дом в Москве в квартире будет доступнее по стоимости, чем в загородном доме в Подмосковье. Для объектов в регионах России к стоимости также будут добавлены логистические расходы.
        p Стоимость Системы Умный Дом Кластер зависит от оборудования, которое будет использоваться для решения тех или иных задач, так для реализации управления функцией освещения задействуются более простые модули, нежели для управления канальными кондиционерами или теплыми полами. Стоимость функций климата таким образом получается выше, чем управление освещением.
        p Для получения точной информации о том, сколько стоит Система Умный Дом Кластер под Ваш объект нужно лишь обратиться к нашему специалисту и предоставить ему любую имеющуюся информацию по объекту: дизайн-проект, планировочное решение, обмерный план, описание объекта и его размер. Наши специалисты оперативно подготовят расчет, в котором будет фигурировать стоимость за каждую функцию, разделение общей стоимости Умного Дома по статьям расходов:
        ul.list
            li: b проектирование системы Умный Дом;
            li: b инженерный надзор;
            li: b оборудование системы автоматизации;
            li: b монтаж системы Умный Дом и пусконаладка;
            li: b настройка мобильного приложения Кластер и сценариев.
        p Также мы приложим перечень необходимого сопутствующего оборудования, которое потребует система Умный Дом Кластер (слаботочный кабель, оконечное оборудование, сетевое оборудование и т.п.), чтобы у Вас была полная картина о стоимости комплекса умный дом.
        p Пройдите короткий опросник и получите подробный расчет цены на систему Умный Дом Кластер для своего объекта.