section.subservices
    padding-top: var(--section-gap)
    padding-bottom: var(--section-gap)
    background: $light-gradient

    div.container
        display: grid
        grid-gap: var(--big-gap)
        grid-column: breakout

    div.text
        display: grid
        grid-gap: var(--gap)
        max-width: 960px

    div.grid
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 10px
        +screen(m)
            grid-template-columns: repeat(2, 1fr)
        +screen(s)
            grid-template-columns: 1fr

        a.item
            position: relative
            aspect-ratio: 1 / 1
            background: $light-gradient
            border-radius: 8px
            padding: var(--medium-gap)
            overflow: hidden

            img
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center center

            h3
                position: relative
                font-weight: 700
                font-size: 36px
                text-transform: uppercase
                background-clip: text !important
                -webkit-background-clip: text !important
                -webkit-text-fill-color: transparent !important
                z-index: 1
                +screen(m)
                    font-size: 24px

            &:nth-child(4n),
            &:nth-child(4n-3)
                aspect-ratio: 2 / 1
                grid-column: 2 span
                +screen(s)
                    grid-column: 1 span
                    aspect-ratio: 1 / 1
                h3
                    font-size: 48px
                    +screen(m)
                        font-size: 36px
                    +screen(s)
                        font-size: 24px
