extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/index.css")

block content
    include sections/index/_main.pug
    include sections/index/_what.pug
    include sections/index/_services.pug
    include sections/_continuity.pug
    include sections/index/_management.pug
    include sections/_showroom.pug
    include sections/_projects.pug
    include sections/_scheme.pug
    include sections/_faq.pug