extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/subservice.css")

block content
    include sections/subservice/_main.pug
    include sections/subservice/_features.pug
    include sections/_gallery.pug
    include sections/_showroom.pug
    include sections/_projects.pug
    include sections/_scheme.pug
    include sections/_faq.pug

    script.
        header = document.querySelector('header')
        header.classList.add('transparent')

        window.addEventListener('scroll', event => {
            this.scrollY > 10 ? header.classList.remove("transparent") : header.classList.add("transparent")
        })