section.comfort
    div.container

        div.text
            h2 Это удобно #[br]#[span и комфортно.]
            span Компания Кластер #[b создает и устанавливает] систему Умного дома Кластер "под ключ" #[b от проектирования и производства], до монтажа и адаптации сценариев.

        div.list
            div.item
                img(src="images/1.webp", alt="")
                div.description
                    strong Меньше #[br]выключателей
                    span Даже с #[b большим количеством светильников], люстр и т.д., управлять освещением с умным домом КЛАСТЕР просто и удобно: #[b одна сенсорная панель заменит до 8 обычных выключателей.]
            div.item
                img(src="images/1.webp", alt="")
                div.description
                    strong Дистанционное #[br]управление
                    span С мобильного приложения КЛАСТЕР #[b можно управлять всем светом], включая ландшафтный и фасадный, в том числе #[b дистанционно.]

            div.item
                img(src="images/1.webp", alt="")
                div.description
                    strong Комплексный  #[br]подход
                    span Сочетать освещение можно с #[b другими функциями автоматизации], как шторы, климат-контроль, аудио. Например, #[b сценарий "Романтический вечер"]