section.main
    div.container

        div.preview
            img(src="images/1.webp", alt="")

        div.intro
            div.text
                div.title
                    h1 Управление освещением #[span в Умном Доме]
                span Четырехкомнатная квартира на Западе Москвы для молодой семьи. Задача – сделать проживание в квартире комфортным и безопасным, особенно пока родители на работе. Большой акцент сделан на системы безопасности и простоту управления.
            button
                span Рассчитать стоимость
                div.borders
                    div
                    div
                    div
                    div

        div.advantages
            div.list
                div.item
                    include ../../../images/svg/38.svg
                    div.text
                        span Самая низкая стоимость
                        small Система умного дома под ключ по цене #[span обычной электрики]

                div.item
                    include ../../../images/svg/39.svg
                    div.text
                        span 7 лет работы без сбоев
                        small Гарантия #[span 5 лет] от производителя