section.subservices
    div.container

        div.text
            h2 Возможности #[br]#[span освещения.]
            span Модули управления освещением умного дома #[b повышают уровень комфорта] жильцов и #[b функциональность пространства]. Система #[b регулирует интенсивность света, период работы светильников, автоматически включает подсветку при движении], а так же имеет множество дополнительных функций.

        div.grid
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #406eb4 0%, #5e3b89 100%)") Управление #[br]классическим освещением
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #6d597c 0%, #5978c8 100%)") Управление #[br]цветной подсветкой
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #bb7787 0%, #918ae0 100%)") Управление #[br]яркостью и теплотой
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #b68145 0%, #ba2c2c 100%)") Сценарное #[br]освещение
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #655f8a 0%, #4274c0 100%)") Используйте #[br]обычные #[br]выключатели
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #ad9f90 0%, #b1856d 100%)") Автоматическое освещение #[br]проходных зон
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #aea7d8 0%, #d6a4de 100%)") Умные #[br]светодиодные ленты
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #c3976e 0%, #c06042 100%)") Управление #[br]освещением #[br]Dali
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #ede1d0 0%, #edc9b4 100%)") Умные #[br]выключатели #[br]света
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #96c8c9 0%, #0e608f 100%)") Астроно­мический #[br]датчик
            a(href="subservice.html").item
                img(src="images/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #a76b48 0%, #e7a891 100%)") Диммирование #[br]Push Dim