dialog(data-modal-name="calculate")

    div(data-modal-close).cross
        include ../../../images/cross.svg

    div.container

        div.text
            h2 Записаться #[span в шоурум]
            p Оставьте ваши контактные данные, #[b наш менеджер свяжется с  Вами в ближайшее время] или позвоните по номеру +7 (499) 455-26-10