include ../../common/_mixins.pug

section.articles
    div.container
        h1 Важно #[span знать.]

        div.list
            +article('images/14.webp', 'Зачем мне умный дом?')
            +article('images/14.webp', 'Дизайнерам об освещении в системе умного дома')
            +article('images/14.webp', 'Про Алису')
            +article('images/14.webp', 'Видеокамеры и личное пространство')
            +article('images/14.webp', 'Этапы работ')
            +article('images/14.webp', 'Что входит в стоимость умного дома КЛАСТЕР?')
            +article('images/14.webp', 'Сферы управления и автоматизации')
            +article('images/14.webp', 'Как формируется цена на Умный Дом Кластер?')
            +article('images/14.webp', 'Почему умный дом от КЛАСТЕР?')
            +article('images/14.webp', 'Что такое умный дом?')
            +article('images/14.webp', 'Система КЛАСТЕР в программе Квартирный вопрос')
            +article('images/14.webp', 'Беспроводной Умный дом - миф или реальность?')
            +article('images/14.webp', 'Система КЛАСТЕР - новинка на рынке Умных домов')