footer
    div.container
        div.top
            div.logo
                a(href="index.html"): img(src="images/logotype.svg", alt="")
            div.apps
                a(href="index.html"): img(src="images/googleplay.svg", alt="") 
                a(href="index.html"): img(src="images/appstore.svg", alt="") 
            div.menu.services
                strong Возможности
                div
                    a(href="index.html") Освещение
                    a(href="index.html") Безопасность
                    a(href="index.html") Мультимедиа
                    a(href="index.html") Климатконтроль
                    a(href="index.html") Сеть и бесшовный Wi-Fi
                    a(href="index.html") Устройства
                    a(href="index.html") Умный дом
                    a(href="index.html") Готовые решения
            div.menu.information
                strong Информация
                div
                    a(href="index.html") О системе
                    a(href="index.html") Производство
                    a(href="index.html") Проектирование
                    a(href="index.html") Монтаж
                    a(href="index.html") О компании
                    a(href="index.html") Проекты
                    a(href="index.html") Контакты
                    a(href="index.html") Блог
            div.support
                strong Обратиться в службу #[br]поддержки
                div.contacts
                    a(href="tel:84994552610")
                        img(src="images/phone.svg", alt="")
                        span +7 (499) 455-26-10
                    a(href="mailto:hello@clustersystem.ru")
                        img(src="images/email.svg", alt="")
                        span hello@clustersystem.ru
            div.buttons
                button
                    span Расчет стоимости
                    include ../../images/calculate.svg
                button
                    span Записаться в шоурум
                    include ../../images/plan.svg
        div.bottom
            span.copyright © 2004-2024 Кластер
            div.links
                a(href="index.html") Политика конфиденциальности
                a(href="index.html") Условия использования
                a(href="index.html") Карта сайта
            a(href="https://upgrad.pro/").upgrade
                img(src="images/upgradepro.svg", alt="")

        