header
    div.container

        div.contacts
            a(href="index.html").logotype
                img(src="images/logotype_symbol_white.svg", alt="").symbol
                img(src="images/logotype.svg", alt="").full
            a(href="tel:84994552610").phone
                include ../../images/phone.svg
                span +7 (499) 455-26-10
            a(href="mailto:hello@clustersystem.ru").email
                include ../../images/email.svg

        div(data-modal-target="menu").menu
            div.icon
                div
                div

        div.buttons
            div(data-modal-target="calculate").button
                include ../../images/calculate.svg
            div(data-modal-target="showroom").button
                include ../../images/plan.svg
