header
    div.container

        div.contacts
            a(href="index.html").logotype
                img(src="images/logotype_symbol_white.svg", alt="").symbol
                img(src="images/logotype.svg", alt="").full
            a(href="tel:84994552610").phone
                img(src="images/phone.svg", alt="")
                span +7 (499) 455-26-10
            a(href="mailto:hello@clustersystem.ru").email
                img(src="images/email.svg", alt="")

        div.menu
            div.icon
                div
                div

        div.buttons
            div.button
                include ../../images/calculate.svg
            div.button
                include ../../images/plan.svg
