header
    position: fixed
    top: 0
    left: 0
    width: 90px
    height: 100vh
    background: linear-gradient(180deg, #313840 0%, #252a2f 100%)
    z-index: 999
    +screen(l)
        position: sticky
        height: 60px
        width: 100%
        background: $dark-gradient
