include ../../common/_mixins.pug

section.category
    div.container

        div.breadcrumbs
            a(href="catalog.html"): small Комплектующие
            small &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            small Видеонаблюдение

        div.text
            h1 Видео­наблюдение.
            span.observe.aft Для многих заказчиков привычна #[b зависимость цены от площади объекта], и для первичного понимания формирования стоимости такая зависимость действительно есть, она приведена ниже в таблице. #[b Но такой подход к оценке стоимости системы умного дома не всегда верен], так как даже на маленькой площади можно разместить достаточно много различных датчиков и устройств, которыми управляет умный дом, и наоборот, в большом доме или квартире можно реализовать только часть функций.

        div.list
            +product('images/products/1.webp', 'DS-2CD2047G2-LU(C)(2.8mm)', 'Уличная купольная камера Hikvision', '5 900 ₽')
            +product('images/products/2.webp', 'DS-2CD2047G2-LU(C)(2.8mm)', 'Компактная купольная камера Hikvision', '18 690 ₽')
            +product('images/products/3.webp', 'DS-2CD2047G2-LU(C)(2.8mm)', 'Компактная камера Hikvision на кронштейне', '17 090 ₽')
            +product('images/products/4.webp', 'DS-2CD2047G2-LU(C)(2.8mm)', 'Уличная камера на кронштейне Hikvision', '18 790 ₽')
            +product('images/products/5.webp', 'DS-2CD2047G2-LU(C)(2.8mm)', 'Накладная 2 Мп IP вызывная панель Hikvision (комплект)', '17 890 ₽')
